<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/images/favicon.png">
    <!-- Vectormap -->
    <link href="~/admin/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/vendor/chartist/css/chartist.min.css">
    <!-- Summernote -->
    <link href="~/vendor/summernote/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/admin/css/style.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="~/logo-text-white.png" alt="" loading="lazy">
                <img class="brand-title" src="~/images/logo-text-white.png" alt="" loading="lazy">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                        </div>

                        <ul class="navbar-nav header-right">

                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" role="button" data-toggle="dropdown">
                                    <img src="images/profile/pic1.jpg" width="20" alt="" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <form asp-controller="Admin" asp-action="Logout" method="post" class="form-inline">
                                        <button type="submit" class="dropdown-item ai-icon">
                                            <i class="fa fa-sign-out-alt"></i>
                                            <span class="ml-2">Đăng xuất</span>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class=" dlabnav">
            <div class="dlabnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li>
                        <a href="/Admin/Dashboard" aria-expanded="false">
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li> <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-028-user-1"></i>
                            <span class="nav-text">Quản lí người dùng</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/admin/customer">Khách hàng</a></li>
                            <li><a href="/admin/staff">Nhân viên</a></li>
                        </ul>
                    </li>
                                            <li><a href="/admin/ChiNhanh" class="ai-icon" aria-expanded="false">
                                                    <i class="flaticon-041-graph"></i>
                                                    <span class="nav-text">Quản lí chi nhánh</span>
                                                </a>
                                            </li>
                                            <li><a href="/Admin/Tours" class="ai-icon" aria-expanded="false">
                                                    <i class="flaticon-041-graph"></i>
                                                    <span class="nav-text">Quản lí Tour</span>
                                                </a>
                                            </li>
                                            <li><a href="/Admin/Bookings" class="ai-icon" aria-expanded="false">
                                                    <i class="flaticon-041-graph"></i>
                                                    <span class="nav-text">Quản lí Booking</span>
                                                </a>
                                            </li>
                                            <li><a href="/Admin/Reports" class="ai-icon" aria-expanded="false">
                                                    <i class="flaticon-041-graph"></i>
                                                    <span class="nav-text">Báo cáo</span>
                                                </a>
                                            </li>
                                            <li><a href="/Admin/AuditLogs" class="ai-icon" aria-expanded="false">
                                                    <i class="flaticon-041-graph"></i>
                                                    <span class="nav-text">Nhật ký kiểm toán</span>
                                                </a>
                                            </li>
                                            <li><a href="/admin/backup-restore" class="ai-icon" aria-expanded="false">
                                                    <i class="flaticon-082-database"></i>
                                                    <span class="nav-text">Sao lưu & Phục hồi</span>
                                                </a>
                                            </li>                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <div class="content-body">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>


        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by Huy</p>
            </div>
        </div>

    </div> <!-- end #main-wrapper -->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/admin/vendor/global/global.min.js"></script>
    <script src="~/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/admin/js/custom.min.js"></script>
    <script src="~/admin/js/dlabnav-init.js"></script>
    <!-- Chart Chartist plugin files -->
    <script src="~/admin/vendor/chartist/js/chartist.min.js"></script>
    <!-- Chart ChartJS plugin files -->
    <script src="~/admin/vendor/chart.js/Chart.bundle.min.js"></script>
    <!-- Vectormap -->
    <script src="~/admin/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="~/admin/vendor/jqvmap/js/jquery.vmap.world.js"></script>
    <!-- Application scripts -->
    <script src="~/admin/js/dashboard.js"></script>
    <!-- Svganimation scripts -->
    <script src="~/admin/vendor/svganimation/vivus.min.js"></script>
    <script src="~/admin/vendor/svganimation/svg.animation.js"></script>
    <script src="~/admin/js/styleSwitcher.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>